body {
  font-family:Helvetica;
  color:#333;
  font-size:20px;
}
#back{
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fe0079, #00fede); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fe0079, #00fede); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fe0079, #00fede); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fe0079, #00fede); /* Standard syntax */
  overflow:hidden;
}
#cover{
  position:absolute;
  background-image:url(https://www.dropbox.com/s/5gcjmkwy9tbaqjo/rentes44.png?dl=1);
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  opacity:.5;
  display:block;
}
cover:hover{
  display:block;
}

#frame{
  position:absolute;
  left:10%;
  top:10%;
  right:10%;
  bottom:10%;
  border:solid 10px;
  border-color:#fff;
  border-radius:15px;
}

#content{
  position:absolute;
  top:20px;
  left:20px;
  border-radius:5px;
  right:20px;
  bottom:20px;
  background-color:#fff;
  padding:20px;
}

#head{
  font-size:36px;
  padding: 10px;
  font-weight: bold;
  color:#333;
  cursor: pointer;
  left:50%;
  transform: translate(-50%);
  text-align: center;
  width: fit-content;
  position: absolute;
}

#head:hover{
  color:#00fede;
}

#bttns{
  position: absolute;
  width: 15%;
  height: -webkit-fill-available;
  top: 20px;
  left: 20px;
  bottom: 20px;
  background-color: #333;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
}

.bttn{
  color:#fff;
  font-size:150%;
  font-weight: bold;
  cursor: pointer;
}

.bttn:hover{
  color:#fe0079;
}

#hme {
  position: absolute;
  bottom: 10px;
}

#hme:hover {
  color:#00fede;
}

#pge{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #333;
    position: absolute;
    left:18%;
    right:0px;
    top:0px;
    bottom: 0px;
}

a{
  text-decoration: none;
}

#fader {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  opacity:0;
  display:none;
}
#screen {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  opacity:.8;
  background-color:#333;
}
#viewer {
  position:absolute;
  top:50%;
  left:50%;
  width: auto;
  height: auto;
  transform: translate(-50%,-50%);
  background-color:#fff;
  border-radius:10px;
  padding:10px;
  max-height: 90%;
  max-width: 90%;
  overflow: hidden;
  text-align: center;
}
#closer {
  position:absolute;
  right:5%;
  top:10%;
}
#scroller {
  position:absolute;
  left:0px;
  right:0px;
  overflow:auto;
  top:0px;
  bottom:0px;
  padding-top:50px;
}

#padder {
  padding-left: 20px;
  padding-right: 20px;
  padding-top:20px;
}

.viewimg {
  max-height: 100%;
  max-width: 90%;
  width: auto;
  height: auto;
  display: inline;
  align-self: center;
  text-align: center;
}