body {
	background-color: #DDD
}

#input {
	position: absolute;
	top: 1%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	width: 98%;
	height: 5%;
}

#textbox {
	position: absolute;
	background-color: #333;
	color:#EEE;
	left: 5px;
	width:79.5%;
	height: 100%;
	border-radius: 15px;
	border-style: none;
}

#submit {
	position: absolute;
	right: 5px;
	width: 19.5%;
	height: 100%;
	color:#EEE;
	background-color: #333;
	border-style: none;
	border-radius: 15px;
}

#result {
	position: absolute;
	top: 9%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 98%;
    height: 89%;
	background-color: #333;
	color:#EEE;
	border: solid;
	border-color: #CCC;
	border-radius: 15px; 
}